<div class="modal fade" data-keyboard="false" data-backdrop="static" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title custom_align" id="HeadingDelete"></h4>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" data-dismiss="modal" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="callout callout-danger">
                    <p>
                        Do you want to delete the selected data?
                    </p>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
                <button type="button" class="btn btn-outline-danger" onclick="Delete()"><i class="fa fa-trash"></i>&nbsp;&nbsp;Yes</button>
            </div>
        </div>
    </div>
</div>