
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<footer class="main-footer">
    @*<div class="pull-right hidden-xs">
        <b>Sürüm</b> 1.0.0
    </div>*@
    <strong>Copyright &copy; @DateTime.Now.Year <a href="http://bonaforme.com">Bona For Me </a></strong> All rights reserved.
</footer>