<div class="modal fade" data-keyboard="false" data-backdrop="static" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title custom_align" id="HeadingResetPassword"></h4>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" data-dismiss="modal" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="OldPassword" class="control-label"><span style="color:red">* </span>Old Password</label>
                            <input name="OldPassword" id="OldPassword" class="form-control" type="password" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="NewPassword" class="control-label"><span style="color:red">* </span>New Password</label>
                            <input name="NewPassword" id="NewPassword" class="form-control" type="password" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="VerificationNewPassword" class="control-label"><span style="color:red">* </span>Verification New Password</label>
                            <input name="VerificationNewPassword" id="VerificationNewPassword" class="form-control" type="password" required />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
                <button type="button" class="btn btn-outline-success" onclick="jsResetPassword()">Reset Password</button>
            </div>
        </div>
    </div>
</div>