@model BonaForMe.DomainCore.DTO.UserDto
@{
    ViewData["Title"] = "Kullanıcılar";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Kullanıcılar</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">User</a></li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Kullanıcılar</h3>
                            <a id="btn_SaveUser" href="#" class="btn-success" style="margin-right: 10px;padding: 10px; float:right;">
                                Yeni Kullanıcı
                                <i class="fas fa-save"></i>
                            </a>
                        </div>
                        <div class="card-body" style="overflow-x:auto;">
                            <table id="tblUserList" class="table table-bordered table-striped table-responsive-lg" style="width: 100% !important;">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Mail Address</th>
                                        <th>Phone</th>
                                        <th class="noExport">Actions</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="modalSaveUser" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalCaption" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <span id="modalCaption">Kullanıcı Giriş Bilgilerini Düzenle</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                    <span aria-hidden="true">
                        <i class="fas fa-times"></i>
                    </span>
                </button>
            </div>
            <form asp-controller="User" asp-action="UpdateUser" method="post" enctype="multipart/form-data" role="form" id="frmUser">
                <div class="modal-body">

                    @*<div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="UserName" class="control-label"><span style="color:red">*</span>Adı</label>
                                    <input asp-for="UserName" name="UserName" id="UserName" class="form-control" required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="UserLastName" class="control-label"><span style="color:red">*</span>Soyadı</label>
                                    <input asp-for="UserLastName" name="UserLastName" id="UserLastName" class="form-control" required />
                                </div>
                            </div>
                        </div>*@

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="UserMail" class="control-label"><span style="color:red">*</span>Eposta</label>
                                <input asp-for="UserMail" name="UserMail" id="UserMail" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="UserPassword" class="control-label"><span style="color:red">*</span>Parola</label>
                                <input asp-for="UserPassword" name="UserPassword" id="UserPassword" class="form-control" required type="password" />
                            </div>
                        </div>
                    </div>

                    <input type="hidden" asp-for="Id" name="Id" id="Id" value="" />
                </div>

                <div class="modal-footer">

                    <button type="button"
                            data-content="remove" class="btn btn-default" data-dismiss="modal">
                        Vazgeç
                    </button>

                    <button type="submit" class="btn btn-primary" style="background-color: blue;" @*onclick="jsSaveUser()"*@>
                        Kaydet
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>

<!-- /.modal-delete -->
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title custom_align" id="HeadingDelete"></h4>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" data-dismiss="modal" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">

                <div class="row" id="deletewarning">Bu Kullanıcıyı Silmek İstiyor musunuz?</div>

            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-danger" onclick="DeleteUser()"><i class="fa fa-trash"></i>&nbsp;Evet</button>
                <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Vazgeç</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hdnUserId" value="" />

<div class="spinnerAnimation" style="display:none;"></div>

<link href="~/css/spinner.css" rel="stylesheet" />

@await Html.PartialAsync("_datatableScripts")
<script type="text/javascript">
    var domString = getTableDom();
    var buttons = getTableButtons("Users");
    var table = $('#tblUserList')
        .DataTable({
            "proccessing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
            "order": [[1, "desc"]],
            dom: domString,
            buttons: buttons,
            "ajax": {
                "url": "/User/LoadUserData/",
                "type": 'POST',
                "dataType": "json"
            },
            "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "columns": [
                getCell("Id"),
                getCell("FullName"),
                getCell("UserMail"),
                getCell("UserPhone"),
                {
                    "data": "", "name": "", "autoWidth": true, "sorting": false, "style": "text-align:center",
                    "render": function (data, type, full, meta) {
                        var buttonGroup = "<div class='btn-group role='group'>";
                        buttonGroup += "<a href='#' class='btn btn-warning btn-sm' style='color:white; margin:0px 5px;' onclick=jsOpenSaveUser('" + full.id + "');><i class='fas fa-edit'></i> Edit </a>"
                        buttonGroup += "<a href='#' class='btn btn-danger btn-sm' style='color:white; margin:0px 5px;' onclick=DeleteData('" + full.id + "');> <i class='fas fa-trash'></i> Delete </a>";
                        buttonGroup += "</div>"
                        return buttonGroup;
                    }
                },
            ]
        });

    $("#frmUser").submit(function () {
        $('#modalSaveUser').modal('hide');
        ShowBlockUi();
    });

    $('#btn_SaveUser').click(function () {
        jsOpenSaveUser();
    });

    function jsOpenSaveUser(id) {
        if (id != null && id !== "") {

            var data = {
                ID: id
            }
            var result = ajaxRequest('POST', '@Url.Action("GetUser", "User")', data)
            debugger;
            $(".modal-body #Id").val(id);
            //$(".modal-body #UserName").val(result.userName);
            //$(".modal-body #UserLastName").val(result.userLastName);
            $(".modal-body #UserMail").val(result.userMail);
            $(".modal-body #UserPassword").val(result.userPassword);
            //$(".modal-body #UserBio").val(result.userBio);
            //$(".modal-body #UserPhone").val(result.userPhone);
    }
    else {
        $("#hdnUserId").val("");
        //$("#UserName").val("");
        //$("#UserLastName").val("");
        $("#UserMail").val("");
        $("#UserPassword").val("");
        //$("#UserBio").val("");
        //$("#UserPhone").val("");
    }

    $("#modalSaveUser").modal('show');
    }

    function DeleteData(UserId) {
        $('#delete').data('argument', UserId);

        $('#delete').modal('show');
    }

    function DeleteUser() {
        ShowBlockUi();
        var userId = $('#delete').data('argument');
        var data = { uid: userId }

        var result = ajaxRequest('POST', '@Url.Action("UserDelete", "User")', data)
            if (result.success) {
                CloseBlockUi();
            $('#delete').modal('hide');
            location.href = '/User/Index';

            } else {
                CloseBlockUi();
            $('#delete').modal('hide');
            location.href = '/User/Index';
        }
    }
</script>
