@{
    ViewData["Title"] = "CourierTracking";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}
<script src="https://api-maps.yandex.ru/2.1/?apikey=Your API key&lang=en_US" type="text/javascript"></script>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Courier Tracking</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Courier Tracking</a></li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Courier Tracking</h3>
                        </div>
                        <div class="card-body" style="overflow-x:auto;">
                            <div id="map" style="width: 1200px; height: 800px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<script type="text/javascript">
    var mymap = null;
    $(document).ready(function () {
        ymaps.ready(function () {
            myMap = new ymaps.Map("map", {
                center: [51.90, -8.47],
                zoom: 13
            });
            getCourierCoordinate();
        });
    });

    function getCourierCoordinate() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetAllCourierCoordinate", "CourierCoordinate")',
            async: false,
        }).done(function (data) {
            myMap.geoObjects.removeAll();
            createPlacemarks(data);
            setTimeout(function () { getCourierCoordinate(); }, 10000);
        }).fail(function (jqXHR, textStatus) {
            alert("Map error!");
        });
    }

    function createPlacemarks(coordinates) {
        coordinates.forEach((item, index) => {
            var text = item.user.fullName + " / " + item.user.userPhone;
            var placemark = new ymaps.Placemark([item.xCoordinate, item.yCoordinate], { balloonContent: text }, {
                iconLayout: 'default#image',
                iconImageHref: '~/../../images/newMapIcon.png',
                iconImageSize: [32, 39],
            });
            myMap.geoObjects.add(placemark);
        })
    }
</script>
