@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<section class="contact spad">
    <div class="container" style="border-top: 2px solid gray; padding-top: 30px">
        <div class="row">

        </div>
    </div>
</section>