@model BonaForMe.DomainCore.DTO.DashboardDto
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Dashboard</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Dashboard</h3>
                        </div>
                        <div class="card-body" style="overflow-x:auto;">
                            <div class="row">
                                <div class="col-lg-3 col-6">
                                    <div class="small-box bg-info">
                                        <div class="inner">
                                            <h3>@Model.NewOrdersCount</h3>
                                            <p>New Orders</p>
                                        </div>
                                        <div class="icon">
                                            <i class="fas fa-shopping-cart"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="small-box bg-success">
                                        <div class="inner">
                                            <h3>@Model.OrdersCountOfThisMonth</h3>
                                            <p>Completed Order This Month</p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-stats-bars"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="small-box bg-warning">
                                        <div class="inner">
                                            <h3>@Model.PendingApprovalUserCount</h3>
                                            <p>Pending Approval User Count</p>
                                        </div>
                                        <div class="icon">
                                            <i class="fas fa-user-plus"></i>
                                            <i class="fas fa-user-"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-6">
                                    <div class="small-box bg-danger">
                                        <div class="inner">
                                            <h3>@Model.TotalOrderCount</h3>
                                            <p>Total Order Count</p>
                                        </div>
                                        <div class="icon">
                                            <i class="fas fa-chart-pie"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="card card-info card-outline col-12">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            <i class="fas fa-download"></i>
                                            Download Excel Report
                                            <i class="fas fa-file-excel"></i>
                                        </h3>
                                    </div>
                                    <div class="card-body">
                                        <form action="CreateReport" method="post">
                                            <div class="row">
                                                <div class="col-9 row">
                                                    <div class="col-6">
                                                        <label for="startDate" class="control-label">Start Date : </label>
                                                        <input type="datetime-local" id="startDate" name="startDate" class="form-control" required>
                                                    </div>
                                                    <div class="col-6">
                                                        <label for="endDate" class="control-label">End Date : </label>
                                                        <input type="datetime-local" id="endDate" name="endDate" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <br />
                                                    <button type="submit" class="btn btn-block btn-outline-info" style="margin-top:7px;"> Create Report </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <table id="tblOrderList" class="table table-bordered table-striped table-responsive-lg" style="width: 100% !important;">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Order Code</th>
                                            <th>User</th>
                                            <th>Pay Type</th>
                                            <th>Status</th>
                                            <th>Order Date</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- /.modal-delete -->
<input type="hidden" id="hdnUserId" value="" />
<div class="spinnerAnimation" style="display:none;"></div>
@await Html.PartialAsync("_datatableScripts")
<script>
    function createTable() {
        var domString = getTableDom();
        var buttons = getTableButtons("Orders");
        $('#tblOrderList').DataTable
            ({
                "paging": true,
                "ordering": true,
                "pageLength": 25,
                "processing": true,
                "serverSide": true,
                "filter": true,
                "orderMulti": false,
                "order": [],
                dom: "",
                buttons: "",
                "ajax": {
                    "url": "/Order/LoadOrderData/",
                    "type": 'POST',
                    "dataType": "json",
                    "data": { type: 2,  orderStatusId: null }
                },
                "columnDefs": [{
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }],
                "columns": [
                    getCell("Id"),
                    getCell("OrderCode"),
                    getCell("UserName"),
                    getCell("PayType"),
                    getCell("OrderStatusName"),
                    {
                        "data": "", "name": "", "autoWidth": true, "sorting": false, "style": "text-align:center",
                        "render": function (data, type, full, meta) {
                            var dateString = "";
                            var timestamp = Date.parse(full.dateCreated);

                            if (isNaN(timestamp) == true) {
                                dateString = "";
                            }

                            dt = new Date(timestamp);
                            dateString = dt.toLocaleString('tr-TR');
                            return dateString;
                        }
                    },
                ],
                "rowCallback": function (row, data, index) {
                    switch (data.orderStatusId) {
                        case 1:
                            $('td', row).css('background-color', 'White');
                            break;
                        case 2:
                            $('td', row).css('background-color', '#6DBFD1');
                            break;
                        case 3:
                            $('td', row).css('background-color', 'White');
                            break;
                        case 4:
                            $('td', row).css('background-color', '#A8E3B3');
                            break;
                        case 5:
                            $('td', row).css('background-color', '#D5D9D4');
                            break;
                        case 6:
                            $('td', row).css('background-color', '#ED6572');
                            break;
                        case 7:
                            $('td', row).css('background-color', '#A8E3B3');
                            break;
                        default:
                    }

                },
                "bDestroy": true,
            });
    }
</script>