@{
    ViewData["Title"] = "Reports";
    Layout = "~/Views/Shared/_AdminLTE.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Dashboard</h3>
                        </div>
                        <div class="card-body" style="overflow-x:auto;">

                            <div class="card card-info card-outline col-12">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-download"></i>
                                        Download Excel Report
                                        <i class="fas fa-file-excel"></i>
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <form action="CreateReport" method="post">
                                        <div class="row">
                                            <div class="col-9 row">
                                                <div class="col-6">
                                                    <label for="startDate" class="control-label">Start Date : </label>
                                                    <input type="datetime-local" id="startDate" name="startDate" class="form-control" required>
                                                </div>
                                                <div class="col-6">
                                                    <label for="endDate" class="control-label">End Date : </label>
                                                    <input type="datetime-local" id="endDate" name="endDate" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <br />
                                                <button type="submit" class="btn btn-block btn-outline-info" style="margin-top:7px;"> Create Report </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="card card-danger card-outline col-12" style="margin-top:25px;">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-download"></i>
                                        Download PDF Report
                                        <i class="fas fa-file-pdf"></i>
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <form action="CreatePDFReport" method="post">
                                        <div class="row">
                                            <div class="col-9 row">
                                                <div class="col-6">
                                                    <label for="startDate" class="control-label">Start Date : </label>
                                                    <input type="datetime-local" id="startDate" name="startDate" class="form-control" required>
                                                </div>
                                                <div class="col-6">
                                                    <label for="endDate" class="control-label">End Date : </label>
                                                    <input type="datetime-local" id="endDate" name="endDate" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-3">
                                                <br />
                                                <button type="submit" class="btn btn-block btn-outline-info" style="margin-top:7px;"> Create PDF Report </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script type="text/javascript">
    $(document).ready(function () {
       
    });
</script>